@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
/* Neste arquivo, faremos TODAS as REGRAS
CSS necessárias para a formatação do site. */



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/fundo01.jpg);
    background-attachment: fixed;
}

h1 {
    animation-name: caindo;
    animation-duration: 7s;

    font-family: 'Goldman', cursive;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 10px;
    border-radius: 8px;

    /* Desafio: aplique as seguintes propriedades:
- borda em todos os lados na cor que quiser
- sombra (na cor que quiser) no bloco virada pra dentro
- coloque o texto no meio
- letras maisuculas */

    border: solid 2px lightseagreen;
    box-shadow: inset lightseagreen 0px 0px 20px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-left: dashed 3px;
    border-right: dashed 3px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    /* conver o block em inline */
}

#container {
    background-color: white;
    width: 80%;
    /*  VALORES PARA LIMITES MAXIMO E MINIMO DA PAGINA */
    max-width: 800px;
    min-height: 500px;
    margin: auto;
    text-align: auto;
    box-shadow: black 0px 0px 10px;
    padding: 16px;
    border-radius: 4px;
}



/* Grupo Seletores */

h3,
p,
figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* FIM */

h3 {
    padding-left: 10px;
    padding: 5px;
    background: linear-gradient(lightblue, lightseagreen);
}

.destaque {
    background-color: black;
    padding: 3px;
    color: white;
    border-radius: 4px;
}

/* Reset */

figure {
    margin: 0;
    text-align: center;
}

/* TAG responsavel por tornar Responsiva todas as Imagens */
img {
    max-width: 100%;
}

/* Seletor descendente */

p a {
    color: red;
}

ul {
    padding: 20px;
}

li {
    list-style-type: square;
    /* Marcador */
    list-style-image: url(../imagens/fundo03.gif);
    line-height: 30px;
    /* Espaçamento de linha */
}

/* Seletor PSEUDO-ELEMENTO (usa 2x o dois pontos :: */

li::marker {
    content: "💠 ";
}

/* Regras para o menu */
nav {
    text-align: center;
}

/* Regra para o estado inicial do link */
nav a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    background-color: black;
    width: 50%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    /* Alterando o Box Model fazendo com que padding e border não de B.O nas dimensões finais do elemento!*/
}

/* Seletor pseudo-classe :first-child */
nav a:first-child {
    border-top-left-radius: 15px;

}

/* Seletor pseudo-classe :last-child */
nav a:last-child {
    border-top-right-radius: 15px;
}

/* Regra para o estado do link acionado Pseudo-Classe :hover */

nav a:hover,
nav a:focus {
    background-color: seagreen;
    color: black;
}


/* Cor aplicada na pagina selecionada */
.link-ativo {
    background-color: lightseagreen;
    color: black;
}

/*  */

figure img {
    filter: grayscale();
    transition: 0.5s;
    /* clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); */
    transform: scale(0.8);


}

figure img:hover {
    filter: none;
    /* clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%); */
    transform: scale(1);
}

/* Regras de Animação */

@keyframes caindo {

    /* Como começa: */
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    /*  Como termina: */
    to {
        transform: translateY(0);
    }
}

/*  Pseudo-Classe child:
:first-child
:last-child
:nth-child() */

ul li:first-child {color: red;}
li:last-child {color: blue;}
li:nth-child(3) {color: green};